* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.App-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  background-color: #191a1c;
}

.header_title {
  font-weight: 800;
  color: #e91e63;
}

.header_title>span {
  color: yellow;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
