* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.App-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  background-color: #131823;
}

.header_title {
  font-weight: 800;
  color: #e91e63;
}

.header_title>span {
  color: yellow;
}

.App-main {
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
